<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorSelector</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="standup">
                <span class="oi oi-home" aria-hidden="true"></span> Stand Up
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="selector/basicgrid">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Basic Grid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="selector/labelcircle">
                <span class="oi oi-loop-circular" aria-hidden="true"></span> Basic Circle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="selector/dotmatrix">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Dot Matrix
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
